[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
python-dotenv = "*"

[dev-packages]
behave = "*"
black = "*"

[requires]
python_version = "3.9"

[scripts]
test = "behave ./tests"
lint = "black ."

[pipenv]
allow_prereleases = true
